.computed-cluster-list {
    max-height: 100%;
    min-height: 200px;
}

.clustering-colored-circle {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 3px solid;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: -1px;
    cursor: pointer;
}

.cluster-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: transparent;
    position: relative;
    vertical-align: middle;
    margin-top: -6px;
}

.cluster-not-selected::before {
    content: "\25cb";
    font-size: 19px;
    margin-left: 6px;
    margin-bottom: 4px;
    color: #666666;
    font-weight: bold;
    max-height: 20px;
}

.cluster-selected::before {
    content: "\2713";
    font-size: 19px;
    margin-left: 4px;
    margin-bottom: 4px;
    color: green;
    font-weight: bold;
    max-height: 20px;
}

.cluster-added::before {
    content: "+";
    font-size: 19px;
    margin-left: 6px;
    margin-bottom: 4px;
    color: green;
    font-weight: bold;
    max-height: 20px;
}

.cluster-deducted::before {
    content: "–";
    font-size: 19px;
    margin-left: 6px;
    margin-bottom: 4px;
    color: red;
    font-weight: bold;
    max-height: 20px;
}

.cluster-color {
    visibility: visible;
    height: 20px;
    margin-bottom: -5px;
    display: inline-block;
    border-left: 4px solid transparent;
    margin-right: 3px;
}

.cluster-list {
    background-color: #fefefe;
    border-radius: 8px;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cluster-list-content {
    padding-left: 8px;
    padding-right: 8px;
}

.list-header {
    border-bottom: 1px solid #e4e4e4;
}

.cluster-name-field {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.cluster-items-field {
    display: inline-block;
    width: 50px;
}

.cluster-edit-field {
    display: inline-block;
    width: 10px;
    margin-left: 3px;
}

.text-align-right {
    text-align: right;
}