<div class="app-container">
    <div class="app-bar">
        <span class="main-title">
        <b>FILE SYSTEM ANALYSIS</b>
        </span>
        <div class="settings">
            <span class="glyphicon glyphicon-menu-hamburger clickable" [matMenuTriggerFor]="settings"></span>
            <mat-menu #settings="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="setupWindowOpen = !setupWindowOpen">
                    <span>SETUP</span>
                </button>
                <button mat-menu-item (click)="advancedModeToggle(!advancedMode)">
                    ADVANCED MODE
                    <input type="checkbox" [ngModel]="advancedMode" class="timesix-slider" id="advancedModeCheckbox">
                    <label for="advancedModeCheckbox"></label>
                </button>
                <button mat-menu-item (click)="saveApplicationState()">
                    SAVE STATE
                </button>
                <button mat-menu-item routerLink="/upload" routerLinkActive="active">
                    <span>UPLOAD NEW FILE</span>
                </button>
                <button mat-menu-item (click)="logout()" >
                    <span>LOG OUT</span>
                </button>
            </mat-menu>
        </div>
    </div>

    <div *ngIf="setupWindowOpen" class="setup-window">
        <div class="setup-tab col-sm-6 col-sm-offset-3">
            <div class="col-sm-3 setup-tab-text">
                <b>DATASET</b>
            </div>
            <div class="col-sm-9">
                <mat-form-field>
                    <mat-select [(value)]="selectedCase" (click)="loadAllCases()" placeholder="Click to select dataset">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let case of cases" [value]="case['key']">{{case['key']}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6 setup-tab-button">
                <button mat-stroked-button (click)="restoreApplicationState()" class="timesix-button"
                        [disabled]="!ableToRestoreState()">
                    RESTORE STATE
                </button>
            </div>
            <div class="col-sm-6 setup-tab-button">
                <button mat-stroked-button (click)="selectedCaseChanged()" class="timesix-button"
                        [disabled]="selectedCase == null">SELECT CASE
                </button>
            </div>
            <!--<table>-->
                <!--<tr>-->
                    <!--<td class="text-right">-->
                        <!--<b>DATASET</b>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<mat-form-field>-->
                            <!--<mat-select [(value)]="selectedCase" (click)="loadAllCases()" placeholder="Click to select dataset">-->
                                <!--<mat-option>None</mat-option>-->
                                <!--<mat-option *ngFor="let case of cases" [value]="case['key']">{{case['key']}}</mat-option>-->
                            <!--</mat-select>-->
                        <!--</mat-form-field>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<button mat-stroked-button (click)="restoreApplicationState()" class="timesix-button"-->
                                <!--[disabled]="!ableToRestoreState()">-->
                            <!--RESTORE STATE-->
                        <!--</button>-->
                    <!--</td>-->
                    <!--<td class="button-right">-->
                        <!--<button mat-stroked-button (click)="selectedCaseChanged()" class="timesix-button"-->
                                <!--[disabled]="selectedCase == null">SELECT CASE-->
                        <!--</button>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        </div>
    </div>
    <div class="container-edit-filter" *ngIf="editingCluster">
        <div class="filter-setup-background">
            <div class="filters-setup">
                <div class="col-md-12">
                    <div class="col-md-12 panel-header">
                        <span class="col-md-1"><input matInput [(ngModel)]="editingCluster.color" type="color"></span>
                        <span><b>Edit cluster</b> "{{editingCluster.name}}"</span>
                    </div>
                    <div [ngClass]="{'panel-hidden': !filterPanelOpenState, 'panel-visible': filterPanelOpenState}"
                         class="panel-content col-md-12">
                                <br>
                                <div class="col-md-4">
                                    <table>
                                        <tr>
                                            <td class="text-right">
                                                <b>FILTER</b>
                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <mat-select [(value)]="selectedFilter" (valueChange)="loadFilter()"
                                                                placeholder="Click to select filter">
                                                        <mat-option>None</mat-option>
                                                        <mat-option *ngFor="let filter of filters" [value]="filter['key']">
                                                            {{filter['key']}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="button-right">
                                                <button mat-stroked-button (click)="useFilter()" class="timesix-button"
                                                        [disabled]="paramForm.form.invalid || selectedCase == null || pickedCluster == null || selectedFilter == null">
                                                    APPLY FILTER
                                                </button>
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                                <div class="col-md-8">
                                    <form #paramForm="ngForm">
                                        <mat-form-field *ngFor="let param of selectedFilterModel.params">
                                            <div [ngSwitch]="param.type">
                                                <input matInput *ngSwitchCase="'DATE'" type="datetime-local"
                                                       name="param-{{param.name}}" placeholder="{{param.name}}"
                                                       [(ngModel)]="param.value" required>
                                                <input matInput *ngSwitchDefault name="param-{{param.name}}"
                                                       placeholder="{{param.name}}" [(ngModel)]="param.value" required>
                                            </div>
                                        </mat-form-field>
                                    </form>
                                </div>
                    </div>
                </div>
                <div>
                    <div class="panel-content col-md-12 panel-visible">
                        <div class="computation-row" (dragover)="dragOver($event)"
                             (drop)="dropFilter($event, editingCluster)">
                            <div *ngFor="let filter of editingCluster.filters" class="computation-filter" draggable="true"
                                 (dragstart)="dragFilter($event, filter, editingCluster)">
                                <span class="text">{{filter.name}}</span>
                                <span class="icon1 glyphicon glyphicon-pencil" matTooltip="edit" [matTooltipPosition]="'below'"
                                      (click)="editFilter(filter, editingCluster)"></span>
                                <span class="icon2 glyphicon glyphicon glyphicon-new-window" matTooltip="copy"
                                      [matTooltipPosition]="'below'" (click)="copyFilter(filter)"></span>
                                <span class="icon3 glyphicon glyphicon-trash" matTooltip="delete" [matTooltipPosition]="'below'"
                                      (click)="deleteFilter(filter, editingCluster)"></span>
                                <div [ngClass]="{'filter-circle-full': filter.isSelected}"
                                     class="filter-circle filter-circle-full" matTooltip="de/select"
                                     [matTooltipPosition]="'below'" (click)="filter.isSelected = !filter.isSelected"></div>
                            </div>
                            <span class="computation-add-filter glyphicon glyphicon-plus" matTooltip="add new filter"
                                  [matTooltipPosition]="'below'" (click)="addFilter(editingCluster)"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 filters-setup-done">
                    <button mat-stroked-button class="timesix-button" (click)="editClusterDone()">DONE</button>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="{'container-all-opened': clusterPanelOpenState, 'container-all-closed': !clusterPanelOpenState}">
        <!--<div class="grid-filter panel">-->
            <!--<div class="col-md-12 panel-header">-->
                <!--<span><b>FILTERS</b></span><span class="glyphicon panel-header-button"-->
                                                 <!--[ngClass]="{'glyphicon-chevron-down': !filterPanelOpenState, 'glyphicon-chevron-up': filterPanelOpenState}"-->
                                                 <!--(click)="filterPanelOpenState = !filterPanelOpenState; collapse()"></span>-->
            <!--</div>-->
            <!--<div class="col-md-12">-->
                <!--<div [ngClass]="{'panel-hidden': !filterPanelOpenState, 'panel-visible': filterPanelOpenState}"-->
                     <!--class="panel-content col-md-12">-->
                    <!--<mat-tab-group [dynamicHeight]="true">-->
                        <!--<mat-tab label="QUERY / INITIAL SETUP">-->
                            <!--<br>-->
                            <!--<div class="col-md-4">-->
                                <!--<table>-->
                                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td class="text-right">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<b>DATASET</b>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<mat-form-field>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<mat-select [(value)]="selectedCase" (valueChange)="selectedCaseChanged()" placeholder="Click to select dataset">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<mat-option>None</mat-option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<mat-option *ngFor="let case of cases" [value]="case['key']">{{case['key']}}</mat-option>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                                    <!--<tr>-->
                                        <!--<td class="text-right">-->
                                            <!--<b>FILTER</b>-->
                                        <!--</td>-->
                                        <!--<td>-->
                                            <!--<mat-form-field>-->
                                                <!--<mat-select [(value)]="selectedFilter" (valueChange)="loadFilter()"-->
                                                            <!--placeholder="Click to select filter">-->
                                                    <!--<mat-option>None</mat-option>-->
                                                    <!--<mat-option *ngFor="let filter of filters" [value]="filter['key']">-->
                                                        <!--{{filter['key']}}-->
                                                    <!--</mat-option>-->
                                                <!--</mat-select>-->
                                            <!--</mat-form-field>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td></td>-->
                                        <!--<td class="button-right">-->
                                            <!--<button mat-stroked-button (click)="useFilter()" class="timesix-button"-->
                                                    <!--[disabled]="paramForm.form.invalid || selectedCase == null || pickedComputation == null || selectedFilter == null">-->
                                                <!--APPLY FILTER-->
                                            <!--</button>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                <!--</table>-->

                            <!--</div>-->

                            <!--<div class="col-md-8">-->
                                <!--<form #paramForm="ngForm">-->
                                    <!--<mat-form-field *ngFor="let param of selectedFilterModel.params">-->
                                        <!--<div [ngSwitch]="param.type">-->
                                            <!--<input matInput *ngSwitchCase="'DATE'" type="datetime-local"-->
                                                   <!--name="param-{{param.name}}" placeholder="{{param.name}}"-->
                                                   <!--[(ngModel)]="param.value" required>-->
                                            <!--<input matInput *ngSwitchDefault name="param-{{param.name}}"-->
                                                   <!--placeholder="{{param.name}}" [(ngModel)]="param.value" required>-->
                                        <!--</div>-->
                                    <!--</mat-form-field>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</mat-tab>-->
                        <!--<mat-tab label="SIGNALING GRID"> SIGNALING GRID</mat-tab>-->
                    <!--</mat-tab-group>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="grid-computation panel">-->
            <!--<div class="panel-header">-->
                <!--<div class="col-md-3">-->
                    <!--<span><b>RUNTIME CLUSTERING</b></span>-->
                    <!--<span class="glyphicon glyphicon-plus panel-header-button" matTooltip="add new runtime clustering"-->
                          <!--[matTooltipPosition]="'above'" (click)="addComputation()"></span>-->
                    <!--<span class="glyphicon panel-header-button"-->
                          <!--[ngClass]="{'glyphicon-chevron-down': !computationPanelOpenState, 'glyphicon-chevron-up': computationPanelOpenState}"-->
                          <!--(click)="computationPanelOpenState = !computationPanelOpenState; collapse()"></span>-->
                <!--</div>-->
                <!--<div class="col-md-7">-->
            <!--<span *ngIf="!computationPanelOpenState" class="panel-header-computations">-->
              <!--<div *ngFor="let comp of computations" class="computation-row-panel" (dragover)="dragOver($event)"-->
                   <!--(drop)="dropFilter($event, comp)">-->
                  <!--<span (click)="comp.isSelected = !comp.isSelected">-->
                    <!--<div class="computation-colored-circle"-->
                         <!--[ngStyle]="{'background-color': comp.isSelected ? comp.color : '', 'border-color': comp.color}"></div>-->
                    <!--<span class="computation-name">{{comp.name}}</span>-->
                  <!--</span>-->
              <!--</div>-->
            <!--</span>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<div class="clickable" (click)="computeComputations()">Run all clustering <span-->
                            <!--class="glyphicon glyphicon-play"></span></div>-->
                    <!--&lt;!&ndash;<button class="timesix-button panel-header-button" mat-stroked-button (click)="computeComputations()">COMPUTE</button>&ndash;&gt;-->
                <!--</div>-->
                <!--<div [ngClass]="{'panel-hidden': !computationPanelOpenState, 'panel-visible': computationPanelOpenState}"-->
                     <!--class="panel-content col-md-12">-->
                    <!--<div *ngFor="let comp of computations" class="computation-row" (dragover)="dragOver($event)"-->
                         <!--(drop)="dropFilter($event, comp)">-->
              <!--<span (click)="comp.isSelected = !comp.isSelected">-->
                <!--<div class="computation-colored-circle"-->
                     <!--[ngStyle]="{'background-color': comp.isSelected ? comp.color : '', 'border-color': comp.color}"></div>-->
                <!--<span class="computation-name">{{comp.name}}</span>-->
              <!--</span>-->
                        <!--<span class="glyphicon glyphicon-play clickable" matTooltip="Run this clustering"-->
                              <!--[matTooltipPosition]="'below'" (click)="computeSelectedComputation(comp)"></span>-->
                        <!--<div *ngFor="let filter of comp.filters" class="computation-filter" draggable="true"-->
                             <!--(dragstart)="dragFilter($event, filter, comp)">-->
                            <!--<span class="text">{{filter.name}}</span>-->
                            <!--<span class="icon1 glyphicon glyphicon-pencil" matTooltip="edit" [matTooltipPosition]="'below'"-->
                                  <!--(click)="editFilter(filter, comp)"></span>-->
                            <!--<span class="icon2 glyphicon glyphicon glyphicon-new-window" matTooltip="copy"-->
                                  <!--[matTooltipPosition]="'below'" (click)="copyFilter(filter)"></span>-->
                            <!--<span class="icon3 glyphicon glyphicon-trash" matTooltip="delete" [matTooltipPosition]="'below'"-->
                                  <!--(click)="deleteFilter(filter, comp)"></span>-->
                            <!--<div [ngClass]="{'filter-circle-full': filter.isSelected}"-->
                                 <!--class="filter-circle filter-circle-full" matTooltip="de/select"-->
                                 <!--[matTooltipPosition]="'below'" (click)="filter.isSelected = !filter.isSelected"></div>-->
                        <!--</div>-->
                        <!--<span class="computation-add-filter glyphicon glyphicon-plus" matTooltip="add new filter"-->
                              <!--[matTooltipPosition]="'below'" (click)="addFilter(comp)"></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <div class="grid-cluster panel">
            <div class="panel-header">
                <span class="text-gray"><b>CLUSTERS</b></span>
                <span class="glyphicon panel-header-button"
                      [ngClass]="{'glyphicon-chevron-down': !clusterPanelOpenState, 'glyphicon-chevron-up': clusterPanelOpenState}"
                      (click)="clusterPanelOpenState = !clusterPanelOpenState"></span>
            </div>
            <div [ngClass]="{'panel-hidden': !clusterPanelOpenState, 'panel-visible': clusterPanelOpenState}"
                 class="panel-content col-md-12">
                <app-cluster
                        [clusters]="getClusters()"
                        [advancedMode]="advancedMode"
                        (selectionChanged)="clusterSelectionChanged($event)"
                        (addNewCluster)="addNewCluster()"
                        (editCluster)="editCluster($event)">
                </app-cluster>
            </div>
        </div>
        <div class="grid-main">
            <app-graph class="graph-block" [_case]="selectedCase" [_clusters]="getClusters()"
                       (getDateChange)="changeDateBoundary($event)"
                       (typesChanged)="selectedMetadataTypesChanged($event)"
                       (openStateChange)="histogramPanelOpenState = $event">
            </app-graph>
            <app-list-view class="list-view-block" (graphChangedBoundary)="changeDateBoundary($event)"
                           (makeManualCluster)="makeManualCluster($event)"
                           (additionalFiltersChanged)="computeClustersItemCount($event)"></app-list-view>
        </div>
    </div>
</div>
