<div class="dashboard-container">
    <!--dataset setup window-->
    <div *ngIf="setupWindowOpen" class="setup-window">
        <!--<div class="col-md-12 setup-close">-->
            <!--<span class="glyphicon glyphicon-remove setup-close-button clickable"-->
                  <!--(click)="setupWindowOpen = false"-->
                  <!--matTooltip="Close"></span>-->
        <!--</div>-->
        <div class="setup-tab col-sm-6 col-sm-offset-3">
            <div class="col-sm-2 col-sm-offset-2 setup-tab-text">
                <b>DATASET</b>
            </div>
            <div class="col-sm-6">
                <mat-form-field>
                    <mat-select [(value)]="selectedCase" (click)="loadAllCases()" placeholder="Click to select dataset">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let case of cases" [value]="case['key']">{{case['key']}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-5 setup-tab-button">
                <button mat-stroked-button (click)="restoreApplicationState()" class="fimetis-button"
                        [disabled]="!ableToRestoreState()">
                    RESTORE STATE
                </button>
            </div>
            <div class="col-sm-5 setup-tab-button">
                <button mat-stroked-button (click)="selectedCaseChanged()" class="fimetis-button"
                        [disabled]="selectedCase == null">SELECT CASE
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="uploadWindowOpen" class="setup-window">
        <div class="col-md-12 setup-close">
            <span class="glyphicon glyphicon-remove setup-close-button clickable"
                  (click)="uploadWindowOpen = false"
                  matTooltip="Close"></span>
        </div>
        <app-upload [_case]="selectedCase"></app-upload>
    </div>

    <!--edit filter window-->
    <div class="container-edit-filter" *ngIf="editedClusters.size > 0 && advancedMode">
        <div class="filter-setup-background">
            <div *ngFor="let cluster of editedClusters">
                <app-filter [inputCluster]="cluster" (editDone)="editDone($event)"></app-filter>
            </div>
        </div>
    </div>

    <div [ngClass]="{'container-all-opened': clusterPanelOpenState, 'container-all-closed': !clusterPanelOpenState}">
        <div class="grid-sidebar fimetis-panel">
            <div class="panel-header buttons-block" *ngIf="clusterPanelOpenState">
                <button mat-stroked-button class="fimetis-button settings-button"
                        (click)="setupWindowOpen = !setupWindowOpen">
                    <span class="glyphicon glyphicon-refresh"></span> CHANGE DATASET</button>
                <button mat-stroked-button class="fimetis-button settings-button"
                        *ngIf="authService.isAdmin()"
                        (click)="removeSelectedCase()">
                    <span class="glyphicon glyphicon-remove"></span> DELETE DATASET</button>
                <button mat-stroked-button class="fimetis-button settings-button"
                        *ngIf="authService.isAdmin()"
                        (click)="uploadWindowOpen = !uploadWindowOpen">
                    <span class="glyphicon glyphicon-upload"></span> EXTEND DATASET</button>
<!--                <button mat-stroked-button class="fimetis-button settings-button"-->
<!--                        (click)="saveApplicationState()">-->
<!--                    <span class="glyphicon glyphicon-save"></span> SAVE APP STATE</button>-->
<!--                <button mat-stroked-button class="fimetis-button settings-button"-->
<!--                        (click)="restoreApplicationState()" [disabled]="!ableToRestoreState()">-->
<!--                    <span class="glyphicon glyphicon-open"></span> RESTORE APP STATE</button>-->
<!--                <button mat-stroked-button class="fimetis-button settings-button"-->
<!--                        [disabled]="!ableToRestoreHistoryState(true)"-->
<!--                        (click)="restorePreviousState(true)">-->
<!--                    <span class="fas fa-undo"></span> BACK</button>-->
<!--                <button mat-stroked-button class="fimetis-button settings-button"-->
<!--                        [disabled]="!ableToRestoreHistoryState(false)"-->
<!--                        (click)="restorePreviousState(false)">-->
<!--                    <span class="fas fa-redo"></span> FORWARD</button>-->
                <div>
                    <button mat-stroked-button class="fimetis-button settings-button"
                            [disabled]="!ableToRestoreHistoryState(true)"
                            (click)="restorePreviousState(true)">
                        <span class="fas fa-undo"></span> BACK</button>
                    <button mat-stroked-button class="fimetis-button settings-button"
                            (click)="saveApplicationState()"
                            [matTooltip]="'Save App State'">
                        <span class="glyphicon glyphicon-save"></span></button>
                    <button mat-stroked-button class="fimetis-button settings-button"
                            (click)="restoreApplicationState()"
                            [matTooltip]="'Restore App State'"
                            [disabled]="!ableToRestoreState()">
                        <span class="glyphicon glyphicon-open"></span></button>
                    <button mat-stroked-button class="fimetis-button settings-button"
                            [disabled]="!ableToRestoreHistoryState(false)"
                            (click)="restorePreviousState(false)">
                        <span class="fas fa-redo"></span> FORWARD</button>
                </div>
            </div>
<!--            [clusters]="getClusters()"-->
            <app-cluster class="cluster-block"

                    [advancedMode]="advancedMode"
                    (selectionChanged)="clusterSelectionChanged($event)"
                    (addNewCluster)="addNewCluster()"
                    (editCluster)="editCluster($event)">
            </app-cluster>
        </div>
        <div class="grid-main">
            <app-graph class="graph-block" [_case]="selectedCase" [_clusters]="getClusters()"
                       (getDateChange)="changeDateBoundary($event)"
                       (typesChanged)="selectedMetadataTypesChanged($event)"
                       (scrollToBar)="listViewComponent.scrollToBar($event)"
                       (scrollToMarkById)="listViewComponent.scrollToMarkById($event)">
            </app-graph>
            <app-list-view class="list-view-block" (graphChangedBoundary)="changeDateBoundary($event)"
                           (makeManualCluster)="makeManualCluster($event)"
                           (additionalFiltersChanged)="computeClustersItemCount($event)"
                           (additionalFiltersChanged)="sendAdditionalFiltersToGraphComponent($event)"
                           (actualScrollPosition)="drawActualScrollPosition($event)"
                           (setFromBoundary)="graphComponent.setFromBoundary($event)"
                           (setToBoundary)="graphComponent.setToBoundary($event)"
                           (addMark)="graphComponent.d3Histogram.addMark($event)"
            ></app-list-view>
        </div>
    </div>
</div>
