/*.container-all-opened {*/
    /*display: grid;*/
    /*min-height: 95vh;*/
    /*max-height: 95vh;*/
    /*grid-template-columns: 300px auto;*/
    /*grid-template-areas: "grid-cluster grid-filter grid-filter grid-filter" "grid-cluster grid-computation grid-computation grid-computation" "grid-cluster grid-main grid-main grid-main"*/
/*}*/

.container-all-opened {
    display: grid;
    /*height: 100%;*/
    flex-grow: 1;
    grid-template-columns: 300px auto;
    grid-template-areas: "grid-cluster grid-main grid-main grid-main"
}

.container-all-closed {
    display: grid;
    /*height: 100%;*/
    flex-grow: 1;
    grid-template-columns: 300px auto;
    grid-template-rows: 50px auto;
    grid-template-areas: "grid-cluster grid-cluster grid-cluster grid-cluster" "grid-main grid-main grid-main grid-main"
}

.container-edit-filter {
    display: grid;
    position: fixed;
    min-height: 95vh;
    max-height: 95vh;
    width: 100%;
    z-index: 2;
    grid-template-columns: 300px auto;
    grid-template-areas: ". filter-setup filter-setup"
}

.grid-cluster {
    grid-area: grid-cluster;
    z-index: 3;
}

.grid-filter {
    grid-area: grid-filter;
    display: none;
}

.grid-computation {
    grid-area: grid-computation;
    display: none;
}

.grid-main {
    grid-area: grid-main;
    display: flex;
    flex-flow: column;
    height: 100%;
    /*display: grid;*/
    /*!*grid-template-areas: "date-slider" "type-checker" "graph-block" "list-view-block";*!*/
    /*grid-template-areas: "graph-block" "list-view-block";*/
}

.graph-block {
    flex: 0 1 auto;
    /*grid-area: graph-block;*/
}

.list-view-block {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    display: flex;
    flex-flow: column;
    /*grid-area: list-view-block;*/
}

.setup-window {
    position: fixed;
    height: 100%;
    top: 60px;
    width: 100%;
    background-color: #666666;
    /*opacity: 0.8;*/
    z-index: 10;
}

.setup-tab {
    background-color: #fefefe;
    position: relative;
    top: 30%;
    height: 40%;
    width: 60%;
    left: 20%;
    padding: 20px;
    border-radius: 18px;
    /*for now*/
    padding-left: 20%;
    padding-top: 10%;
}

.filter-setup-background {
    grid-area: filter-setup;
    background-color: rgba(51,51,51,0.82);
}

.filters-setup {
    /*position: fixed;*/
    /*grid-area: filter-setup;*/
    display: inline-block;
    margin-top: 15%;
    width: 100%;
    /*left: 20%;*/
    min-height: 100px;
    background-color: #ffffff;
    /*z-index: 9;*/
    border-top: 4px solid #333333;
    border-bottom: 4px solid #333333;
}

.filters-setup-done {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.panel {
    background-color: #efefef;
    margin: 0px 2px 2px 2px;
}

.panel-header {
    /*border: 2px solid #a9a9a9;*/
    padding: 0.75em;
    margin-top: 2px;
    /*margin-bottom: 2px;*/
    color: #666666;
}

.panel-controls {
    text-align: right;
}

.panel-controls button {
    margin-right: 25px;
}

.panel-controls .glyphicon {
    margin-right: 15px;
    cursor: pointer;
}

.panel-content {
    /*margin-bottom: 1em;*/
    /*padding-bottom: 1em;*/
}

.text-right {
    text-align: right;
    padding-right: 1.5em;
}

.button-right {
    text-align: right;
}

.panel-hidden {
    display: none;
}

.panel-visible {
    display: inline-block;
}

.chip-list .mat-radio-group {
    padding-left: 0.8em;
    padding-top: 0.1em;
    padding-right: 0;
    float: right;
    max-height: 24px;
}

mat-chip {
    max-height: 30px;
    padding-right: 0;
}

.cluster-button {
    width: 100%;
    margin-top: 10px;
}

.computation-colored-circle {
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 3px solid;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: -1px;
    cursor: pointer;
}

.computation-name {
    margin-bottom: 3px;
    cursor: pointer;
    margin-right: 16px;
    /*font-size: larger;*/
}

.computation-row {
    border-radius: 15px;
    padding: 3px 6px 4px 6px;
    margin-top: 3px;
    background-color: #e4e4e4;
}

.computation-row:hover {
    background-color: #fefefe;
}

.computation-row-panel {
    display: inline-block;
}

.computation-add-filter {
    border-radius: 50%;
    border: 2px solid #666666;
    padding: 2px 2px 3px 3px;
    margin-left: 8px;
    margin-bottom: -2px;
    cursor: pointer;
}

.computation-filter {
    position: relative;
    display: inline-block;
    background-color: #fefefe;
    border-radius: 25px;
    border: 1px solid #333333;
    padding: 1px 8px 2px 8px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.computation-filter .text {
    display: inline-block;
    margin-right: 5px;
    min-width: 65px;
}

.computation-filter:hover {
    background-color: #333333;
}

.computation-filter:hover > .text {
    opacity: 0.6;
}

.computation-filter:hover > .icon1,
.computation-filter:hover > .icon2,
.computation-filter:hover > .icon3 {
    display: inline-block;
    color: #e4e4e4;
}

.computation-filter:hover .filter-circle {
    border-color: #e4e4e4;
}

.computation-filter:hover .filter-circle-full:before {
    background-color: #e4e4e4;
}

.computation-filter .icon1,
.computation-filter .icon2,
.computation-filter .icon3 {
    display: none;
    position: absolute;
    margin-top: 3px;
    z-index: 500;
}

.computation-filter .icon1 {
    left: 10%;
}

.computation-filter .icon2 {
    left: 35%;
}

.computation-filter .icon3 {
    left: 60%;
}

.filter-circle {
    display: inline-block;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    margin-bottom: -4px;
    border: 2px solid #666666;
    z-index: 500;
}

.filter-circle-full:before {
    visibility: visible;
    position: absolute;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #666666;
    z-index: 150;
    content: "";
}

.panel-header-button {
    margin-left: 15px;
    cursor: pointer;
}

.panel-header-computations {
    margin-left: 15px;
}

.date-slider {
    grid-area: date-slider;
    position: relative;
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;
}

.type-checker{
    grid-area: type-checker;
    display: inline-block;
    padding-left: 45px;
    padding-right: 45px;
    text-align: center;
}

.type-checker mat-checkbox{
    margin-left: 20px;
}
