<h3>Manage {{ this.data.type }}</h3>

<table class="table table-hover table-responsive " style="width: 90%; margin: auto; margin-top: 20px;">
    <thead><th>ID</th><th>USER</th><th>SELECT</th></thead>
    <tbody *ngFor="let user of data.allUsers">
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.login }}</td>
        <td>
            <mat-checkbox [id]="user.id"  [checked]="this.data.curentUserIds.has(user.id)" (change)="onChecked(user.id); ngOnInit()" >
            </mat-checkbox>
        </td>
    </tr>
    </tbody>
</table>
<br>
<div style="text-align: center; align-content: center; width: 100%">
    <div style="width: 30%; margin: auto">
        <button type="button" class="btn btn-default" style="float: left" (click)="onSaveClick()">
            <span>SAVE</span>
        </button>
        <button type="button" class="btn btn btn-default" style="float: right" (click)="onCancelClick()">
            <span>CANCEL</span>
        </button>
    </div>

</div>

