<div class="app-container">
    <div class="app-bar">
        <div class="user-info">
            <span *ngIf="currentUser">
                <span class="fas fa-user"></span> {{currentUser.username}}
            </span>
        </div>
        <span class="main-title">
            <b><p class="title-highlight">FI</p>LESYSTEM <p class="title-highlight">MET</p>ADATA ANALYS<p class="title-highlight">IS</p></b>
        </span>
        <div class="settings">
            <span class="glyphicon glyphicon-menu-hamburger clickable" [matMenuTriggerFor]="settings"></span>
            <mat-menu #settings="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="setAdvancedMode(!advancedMode)">
                    ADVANCED MODE
                    <input type="checkbox" [ngModel]="advancedMode" class="fimetis-slider" id="advancedModeCheckbox">
                    <label for="advancedModeCheckbox"></label>
                </button>
                <button mat-menu-item routerLink="/" routerLinkActive="active"
                        *ngIf="getRouter().url !== '/'">
                    <span>DASHBOARD</span>
                </button>
                <button mat-menu-item routerLink="/case-management" routerLinkActive="active"
                *ngIf="getRouter().url !== '/case-management'">
                    CASE MANAGEMENT
                </button>
                <button mat-menu-item routerLink="/cluster-management" routerLinkActive="active"
                        *ngIf="getRouter().url !== '/cluster-management'">
                    CLUSTER MANAGEMENT
                </button>
                <button mat-menu-item routerLink="/upload/empty" routerLinkActive="active"
                        *ngIf="getRouter().url !== '/upload'">
                    <span>UPLOAD FILE TO DATASET</span>
                </button>

                <button mat-menu-item (click)="logout()" >
                    <span>LOG OUT</span>
                </button>
                <button mat-menu-item (click)="toggleCheatsheet()">
                    <span>HOTKEYS</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
<hotkeys-cheatsheet title="FILESYSTEM METADATA ANALYSIS HOTKEYS"></hotkeys-cheatsheet>