<div class="app-container">
    <div class="app-bar">
        <span class="main-title">
        <b>FILE SYSTEM ANALYSIS</b>
        </span>
        <div class="settings">
            <span class="glyphicon glyphicon-menu-hamburger clickable" [matMenuTriggerFor]="settings"></span>
            <mat-menu #settings="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="setAdvancedMode(!advancedMode)">
                    ADVANCED MODE
                    <input type="checkbox" [ngModel]="advancedMode" class="timesix-slider" id="advancedModeCheckbox">
                    <label for="advancedModeCheckbox"></label>
                </button>
                <button mat-menu-item (click)="logout()" >
                    <span>LOG OUT</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
