<div *ngIf="this.cases.length === 0" style="text-align: center">
    <h3>Insufficient rights to manage any case</h3>
</div>
<table *ngIf="this.cases.length !== 0" class="table table-hover table-responsive" style="width: 90%; margin: auto; margin-top: 20px;">
    <thead><th>NAME</th><th>FULL ACCESS</th><th>ADD FULL ACCESS</th><th>READ ONLY ACCESS</th><th>ADD READ ONLY ACCESS</th></thead>
    <tbody *ngFor="let case of cases">
    <tr >
        <td style="width: 20%;">
            {{case.name}}
        </td>
        <td style="width: 20%">
            <div *ngFor="let admin of case.admins">
                <button class="btn btn-default btn-xs" (click)="deleteAccessToCase(case.id, admin)">
                    <span>{{admin}} </span>
                    <span style="color: red" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </td>
        <td style="width: 20%">
            <div style="text-align: left; width: 100%">
                <button *ngIf="!(adminAddFormVisible && caseIdToEdit === case.id)" class="btn btn-default btn-xs" (click)="displayAdminAddForm(case.id);getAvailableUsersToAdd(case.id)">
                    <span>add full access to user </span>
                    <span style="color: green; align-self: center" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <span *ngIf="this.availableUsers.length === 0 && adminAddFormVisible && caseIdToEdit === case.id">No user to add</span>
                <mat-form-field *ngIf="adminAddFormVisible && caseIdToEdit === case.id && this.availableUsers.length > 0" style="font-size: 12px">
                    <mat-select [(value)]="selectedUserToAdd" (selectionChange)="addAdminAccessToCase(case.id, 'admin')" placeholder="Click to add user">
                        <mat-option *ngFor="let user of this.availableUsers" [value]="user">{{user}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
            </div>
        </td>
        <td style="width: 20%">
            <div *ngFor="let user of case.users">
                <button class="btn btn-default btn-xs" (click)="deleteAccessToCase(case.id, user)">
                    <span>{{user}} </span>
                    <span style="color: red" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </td>
        <td style="width: 20%;">
            <div style="text-align: left; width: 100%">
                <button *ngIf="!(userAddFormVisible && caseIdToEdit === case.id)" class="btn btn-default btn-xs" (click)="displayUserAddForm(case.id);getAvailableUsersToAdd(case.id)">
                    <span>add read only access to user </span>
                    <span style="color: green; align-self: center" class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
                </button>
                <span *ngIf="this.availableUsers.length === 0 && userAddFormVisible && caseIdToEdit === case.id">No user to add</span>
                <mat-form-field *ngIf="userAddFormVisible && caseIdToEdit === case.id && this.availableUsers.length > 0" style="font-size: 12px">
                    <mat-select [(value)]="selectedUserToAdd" (selectionChange)="addUserAccessToCase(case.id, 'user')" placeholder="Click to add user">
                        <mat-option *ngFor="let user of this.availableUsers" [value]="user">{{user}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
            </div>
        </td>
    </tr>
    </tbody>
</table>