.title h4{
  display: inline-block;
  margin-right: 8px;
  font-weight: bold;
}

.panel-header-button{
  cursor: pointer;
}

.panel-hidden{
  display: none;
}

.panel-visible{
  display: inline-block;
}

.interactive-table{
  max-height: 550px;
  width: 100%;
}

.interactive-table table{
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.table-container{
  position: relative;
  min-height: 100px;
}

.table-loading-spinner{
  position: absolute;
  height: 20%;
  width: 20%;
  left: 40%;
  top: 40%;
  z-index: 999;
}

.spinning-loader {
  border: 14px solid #666666;
  border-bottom: 14px solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.table-controls{
  text-align: right;
}

.search-field-form{
  display: inline-block;
}

.search-field{
  border-radius: 15px;
  border-color: #666666;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 8px;
}

.search-field:focus{
  outline: none;
}

.table-radio-type{
  position: relative;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.table-radio-type label{
  display: inline-block;
  vertical-align: text-top;
  padding-left: 5px;
  font-weight: normal;
  margin-top: -5px;
}

.settings-menu-button{
  cursor: pointer;
}

.scroll-block{
  /*position: relative;*/
  /*bottom: 0;*/
  /*display: block;*/
  visibility: visible;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  /*height: auto;*/
  /*max-height: 250px;*/
  min-height: 5px;
  /*margin-bottom: 20px;*/
  /*overflow: hidden;*/
  /*overflow: scroll;*/
}

virtual-scroll {
  display: block;
  /*width: 100%;*/
  /*height: 250px;*/
  /*margin-bottom: 20px;*/
}

.table-block{
  display: inline-block;
  overflow: hidden;
  height: 20px;
  text-wrap: none;
  margin-left: 2px;
  margin-right: 2px;
}

.small-table-block{
  width: 25px;
}

.medium-table-block{
  width: 100px;
}

.larger-table-block{
    width: 140px;
}

.large-table-block{
  width: 500px;
}

.table-select{
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #666666;
  border-radius: 50%;
  cursor: pointer;
}


.table-select-selected::before{
  content: " ";
  border-radius: 50%;
  display: inline-block;
  visibility: visible;
  width: 8px;
  height: 8px;
  margin-bottom: 5px;
  margin-left: 2px;
  background-color: #666666;
}