<h2>Marks</h2>
<table class="table table-hover table-responsive">
    <thead><th>TIMESTAMP</th><th>TYPE</th><th>FILE NAME</th><th></th></thead>
    <tbody *ngFor="let mark of data.marks">
    <tr>
        <td>{{mark.timestamp}}</td>
        <td>{{mark.type}}</td>
        <td>{{mark.filename}}</td>
        <td>
            <mat-checkbox (click)="select(mark.id)">

            </mat-checkbox>
<!--            <button class="btn btn-default btn-sm" (click)="deleteMark(mark.id);">-->
<!--                <span class="glyphicon glyphicon-remove"></span>-->
<!--            </button>-->
        </td>
    </tr>
    </tbody>
</table>
<br>
<div style="text-align: center; align-content: center; width: 100%">
    <div style="width: 30%; margin: auto">
        <button type="button" class="btn btn-default" style="float: left" (click)="onDeleteClick()">
            <span>DELETE</span>
        </button>
        <button type="button" class="btn btn btn-default" style="float: right" (click)="onCancelClick()">
            <span>CANCEL</span>
        </button>
    </div>
</div>

