server {
     listen 80;
 
     auth_basic "Restricted Access";
     auth_basic_user_file /etc/nginx/.angular-user;
 
     root /opt/timesix-angular;
     index index.html;
 
     location / {
          try_files $uri $uri/ /index.html;
     }
}
