#! /bin/sh

### BEGIN INIT INFO
# Provides:       fimetis
# Required-Start:    $local_fs $remote_fs $network $syslog $named
# Required-Stop:     $local_fs $remote_fs $network $syslog $named
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: starts the fimetis backend
# Description:       starts fimetis
### END INIT INFO

set -e

. /lib/lsb/init-functions

export PATH={{ fimetis_root }}/backend-venv/bin:/usr/bin:/usr/sbin

UWSGI={{ fimetis_root }}/backend-venv/bin/uwsgi
FIMETIS_PIDFILE=/var/run/fimetis.pid

case "$1" in
    start)
        start-stop-daemon --start \
            --background \
            --no-close \
            --pidfile "$FIMETIS_PIDFILE" \
            --make-pidfile \
            --chuid {{ fimetis_user }}:www-data \
            --chdir {{ fimetis_root }}/src/backend \
            --exec "$UWSGI" \
            -- \
            --ini /etc/fimetis.conf
        ;;

    stop)
        if [ -f "$FIMETIS_PIDFILE" ]; then
            start-stop-daemon --stop --pidfile "$FIMETIS_PIDFILE" --retry 5
        fi
        ;;

    restart|force-reload)
        $0 stop
        $0 start
        ;;

    status)
        status_of_proc -p "$FIMETIS_PIDFILE" "$UWSGI" "Fimetis"
        ;;
esac
