<div class="cluster-list">
    <!--<perfect-scrollbar class="computed-cluster-list">-->
    <!--<div>-->
    <!--<mat-selection-list dense #computedClustersID (selectionChange)="emitSelectedClusters()">-->
    <!--<mat-list-option *ngFor="let compCluster of clusters" [selected]="selectAll" checkboxPosition="before" >-->
    <!--{{compCluster?.key ? compCluster.key : compCluster}}-->
    <!--</mat-list-option>-->
    <!--</mat-selection-list>-->
    <!--<mat-selection-list dense #computedClustersID (selectionChange)="emitSelectedClusters()">-->
    <!--<mat-list-option *ngFor="let cluster of clusters" checkboxPosition="before" (click)="nextVal(cluster)">-->
    <!--{{cluster.name}}-->
    <!--{{cluster.selectMode}}-->
    <!--</mat-list-option>-->
    <!--</mat-selection-list>-->

    <!--</div>-->
    <div class="list-header">
        <div class="cluster-list-content">
            <div class="cluster-icon cluster-not-selected"></div>
            <div class="cluster-name-field">cluster name</div>
            <div class="cluster-items-field text-align-right">items #</div>
        </div>
    </div>
    <div class="cluster-list-content">
        <!--<virtual-scroller #scroll style="height: 400px; scroll-snap-type: y mandatory;" class="scroll-block" [items]="clusters" *ngIf="clusters?.length > 0">-->
        <div #container>
            <!--<div class="cluster-item" *ngFor="let cluster of scroll.viewPortItems" (click)="nextVal(cluster)">-->
            <div class="cluster-item" *ngFor="let cluster of clusters" (click)="nextVal(cluster)">
                <!--<mat-radio-button *ngIf="mode === 0" [checked]="clusterChecked(cluster)"-->
                                  <!--[value]="cluster"></mat-radio-button>-->
                <div class="cluster-icon"
                     [ngClass]="{'cluster-not-selected': cluster.selectMode == 0, 'cluster-selected': cluster.selectMode == 1 && !advancedMode, 'cluster-added': cluster.selectMode == 1 && advancedMode, 'cluster-deducted': cluster.selectMode == 2}"></div>
                <div class="cluster-color" [ngStyle]="{'border-color': cluster.color}"></div>
                <div class="cluster-name-field" matTooltip="{{cluster.description}}"
                     [matTooltipPosition]="'right'">{{cluster.name}}
                </div>
                <div class="cluster-items-field text-align-right">{{cluster.count}}</div>
            </div>
        </div>
        <!--</virtual-scroller>-->
        <!--</perfect-scrollbar>-->
        <div *ngIf="clusters?.length == 0">
            There are no clusters yet
        </div>
    </div>

</div>
