<h3>Notepad:</h3>
<mat-form-field style="width: 100%;" appearance="outline">
    <textarea [value]="data.note" maxlength="2048" (change)="update($event.currentTarget.value)" matInput style="margin-left: 5px; margin-right: 5px; margin-top: 0px; margin-bottom: 0px" matInput cdkTextareaAutosize cdkAutosizeMinRows="35"></textarea>
</mat-form-field>
<div style="text-align: center">
    <button class="btn btn-default btn-s" (click)="onSaveClick()">
    <span>
        SAVE
    </span>
    </button>
</div>

