.main-container{
    border-radius: 8px;
    margin-top: 2em;
    padding: 2em;
    background-color: #fefefe;
}

.drop-zone {
    border: dotted 3px lightgray;
    /*height: 30vh;*/
    text-align: center;
    vertical-align: middle;
}
.invalid-drag { border: dotted 3px red; }
.valid-drag { border: dotted 3px green; }
.previewIcon{
    width:100px;height:100px;
    background-size:cover;
    background-repeat:no-repeat;
}

.inline-block{
    display:inline-block;
    margin:.2em;
}