<div #chart id="chart" (window:resize)="onResize()"></div>
<button class="mat-stroked-button fimetis-button resetZoomButton" style="float: right"><span class="glyphicon glyphicon-resize-full"></span> RESET ZOOM</button>
<button class="mat-stroked-button fimetis-button zoomMinusButton" style="float: right"><span class="glyphicon glyphicon-minus"></span></button>
<button class="mat-stroked-button fimetis-button zoomPlusButton" style="float: right"><span class="glyphicon glyphicon-plus"></span></button>
<button class="mat-stroked-button fimetis-button removeAllSelectionsButton" style="float: right"><span class="glyphicon glyphicon-remove"></span> REMOVE SELECTIONS</button>