<div class="app-bar">
  <span class="main-title">
    <b>SUSPICIOUS FILE CHANGES</b>
  </span>
  <span class="sub-title">
    <b>DASHBOARD</b>
  </span>
</div>

<app-dashboard></app-dashboard>
<!--<div class="container">-->
	<!--<div style="margin-bottom: 20px">-->
		<!--<h1>{{title}}</h1>-->
		<!--<h3>{{description}}</h3>-->
	<!--</div>-->
  <!--<div style="margin-bottom: 15px">-->
    <!--<a mat-stroked-button color="secondary" href="http://78.128.250.226:8080">KIBANA</a>-->
  <!--</div>-->
	  <!--<nav>-->
      <!--<a routerLink="/" class="btn btn-primary" role="button" >MACTIMES CASES</a>-->
      <!--<a routerLink="dashboard/aggregated-mactimes" class="btn btn-primary" role="button" >AGGREGATED MACTIMES CASES</a>-->
			<!--<a routerLink="add" class="btn btn-primary" role="button" >ELASTICSEARCH STATUS</a>-->
		<!--</nav>-->
		<!--<router-outlet></router-outlet>-->
<!--</div>-->
