<div class="col-md-12">
    <div class="col-md-4">
        <span class="text-gray title"><h4>Histogram</h4></span><span class="glyphicon panel-header-button"
                                                                     [ngClass]="{'glyphicon-chevron-down': !graphPanelOpenState, 'glyphicon-chevron-up': graphPanelOpenState}"
                                                                     (click)="collapseGraphPanel()"></span>
    </div>
    <div class="col-md-8">
        <span *ngIf="graphPanelOpenState" class="resetZoomButton" (click)="resetZoom()"><span class="resetZoomButtonIcon glyphicon glyphicon-remove"></span> RESET ZOOM</span>
    </div>
    <div class="col-md-12" [ngClass]="{'panel-hidden': !graphPanelOpenState, 'panel-visible': graphPanelOpenState}">
        <div class="graph-container">
            <div class="chart-loader" *ngIf="loadingMTimes || loadingATimes || loadingBTimes || loadingCTimes">
                <div class="loader-stat loader-7">
                    <div class="line line1"></div>
                    <div class="line line2"></div>
                    <div class="line line3"></div>
                </div>
            </div>
            <div #chartOverviewDiv id="chartOverviewDiv" ></div>
            <div #chartDiv id="chartDiv" ></div>
        </div>
        <form (submit)="updateBoundary()" class="from-date-form col-md-4">
            <input name="fromDatePicker" type="datetime-local" [(ngModel)]="pickedFromDate" required class="date-form-input">
            <button type="submit" hidden></button>
        </form>
        <div class="col-md-4">
            <span *ngFor="let type of supportedTypes">
                <input type="checkbox" (change)="typeCheckboxChanged(type)"
                       [checked]="selectedTypes.has(type)" class="form-checkbox" id="check-{{type}}" [ngStyle]="{ 'border-color': getCheckboxColor(type), 'background-color': selectedTypes.has(type) ? getCheckboxColor(type) : ''}">
                <label for="check-{{type}}">{{type}} type</label>
            </span>
        </div>
        <form (submit)="updateBoundary()" class="to-date-form col-md-4">
            <input name="toDatePicker" type="datetime-local" [(ngModel)]="pickedToDate" required class="date-form-input">
            <button type="submit" hidden></button>
        </form>
    </div>
</div>
