<div *ngIf="metadata">
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" (click)="loadSubEntries(_index, _type, metadata['case'], metadata['Subentries'], metadata['Group Id'])">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{metadata['@timestamp']}}
    </mat-panel-title>
    <mat-panel-description *ngIf="(metadata.FileName || metadata['File Name'])">
        <label>File Name: </label> <p *ngIf="metadata.FileName">{{metadata.FileName}}</p><p *ngIf="!metadata['FileName']">{{metadata['File Name']}}</p>
        <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
    </mat-panel-description>
    <mat-panel-description *ngIf="metadata.Prefix && !(metadata.FileName || metadata['File Name'])">
      <label>Prefix: </label> <p>{{metadata.Prefix}}</p><mat-chip-list><mat-chip color="primary" selected>{{metadata['Subentries']}}</mat-chip></mat-chip-list>
      <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <hr/>
  <div>
    <label>Date: </label> {{metadata['@timestamp']}}
  </div>
  <div>
    <label>File Name: </label><p *ngIf="metadata.FileName">{{metadata.FileName}}</p><p *ngIf="!metadata.FileName">{{metadata['File Name']}}</p>
  </div>
  <div>
    <label>Meta: </label> {{metadata.Meta}}
  </div>
  <div>
    <label>Size: </label> {{metadata.Size}}
  </div>
  <div>
    <label>GID: </label> {{metadata.GID}}
  </div>
  <div>
    <label>UID: </label> {{metadata.UID}}
  </div>
  <div>
    <label>Mode: </label> {{metadata.Mode}}
  </div>
  <div>
    <label>Type: </label> {{metadata.Type}}
  </div>
  <div>
    <label>Case: </label> {{metadata.case}}
  </div>
  <div *ngIf="metadata['Grouped'] == 'False'">
    <label>Subentries: </label> {{metadata.Subentries}}
  </div>
    <mat-accordion *ngFor="let entry of map.get(metadata['Group Id'])">
      <app-sub-metadata [metadata]="entry._source"></app-sub-metadata>
    </mat-accordion>
</mat-expansion-panel>
</div>


