
<table class="table table-hover table-responsive" style="width: 70%; margin: auto; margin-top: 20px;">
    <thead><th>SELECT</th><th>CASE</th><th>COUNT</th><th>EXTEND</th><th>REMOVE</th></thead>
    <tbody *ngFor="let case of cases.keys()">
    <tr [ngStyle]="{'font-weight': getTrFontWeightForCase(case)}">
        <td>
            <button class="btn btn-default btn-sm" *ngIf="authService.isAdmin()" (click)="selectCase(case)">
                <span [ngStyle]="{'color': getColorForSelectButton(case)}" class="glyphicon glyphicon-ok-sign"></span>
            </button>
        <td>{{case}}</td>
        <td>{{cases.get(case)}}</td>
        <td>
            <button type="button" class="btn btn-default btn-sm" routerLink="/upload/{{case}}"  routerLinkActive="active">
                <span class="glyphicon glyphicon-upload"></span>
            </button>
        </td>
        <td>
            <button class="btn btn-default btn-sm" *ngIf="authService.isAdmin()" (click)="removeSelectedCase(case);">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

