<div class="col-md-12">
    <h3 class="text-gray">{{data.title}}</h3>
    <p class="text-light-gray">Number of items: {{data.itemsNumber}}</p>
    <mat-form-field class="dialogInput">
        <input matInput [(ngModel)]="resultName" placeholder="{{data.placeholder}}">
    </mat-form-field>
    <button mat-stroked-button class="leftButton timesix-button" (click)="onCancelClick()">CANCEL</button>
    <button mat-stroked-button class="rightButton timesix-button" (click)="onOkClick()" [disabled]="resultName == ''">
        CREATE
    </button>
</div>
